.program-wrapper {
  background-color: var(--white);
  border-radius: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;  
  width: 100%;
}

.program-img {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 15px;
}
.program-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.program-header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.program-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 30px;
  text-align: right;
}

.program-title h2 {
  font-weight: bold;
}

.program-title span {
  color: var(--primary-color);
}

.program-desc {
   flex-shrink: 0;
   padding: 6% 0;
}

.row-program:hover {
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;
}

.program-date {
  color: var(--black) !important;
}