.message-header {
    border-radius: 20px 20px 0 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    align-content: center;
}

.message-header span{
    color:black;

}
.likes-indicator {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.likes-indicator span{
   color: var(--primary-color);
}
.message-header span{
   margin-right: 20px;
}
.symbol-header {
    color: var(--primary-color);
}
.message-wrapper {
    border: 3px solid var(--black);
    border-radius: 22px;
    background-color: var(--white);
}

.message-body {
    padding: 5px 10px 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: auto;
}

audio {
    padding : 3px;
    min-width: 170px;
    width: 95%;
    height: 30px;
    margin: 10px 0 10px 0;
    background-color: var(--dark-gray);
    color: var(--primary-color);
    border-radius: 20px;
}
.message-date {
    color: #616061;
}

.message-like-symbol {
    color: #B2171B;
}
.message-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5px;
    min-width: 80%;
    width: auto;
    height: fit-content;
    padding: 5px 5px 0px 0px;;
}
.message-content p {
    width: 100%;
    display: block;
    font-size: 15px;

}
.message-text {
    word-wrap: break-word;
    width: 80%;
}
.modiftextarea{
    min-height: 120px;
 height: fit-content;
overflow-y: visible;
font-size: 15px;
}
.message-actions {
    min-width: 35px;
    max-width: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-content: center;
    margin-left: 5px;
}
.message-actions div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}
.message-like-symbol {
    font-size: 15px;
    padding-left: 3px;
}
.aired-status {
    border: 2px solid var(--white);
    border-radius: 20px;
    padding: 5px 10px;
    color: var(--white);
}
.message-actions .material-symbols-outlined {
    margin-bottom: 5px;    
    margin-top: 5px;


    color: var(--dark-gray);
}

.message-actions > .material-symbols-outlined {
    color: var(--dark-gray);
    font-size: 20px;
    cursor: pointer;
}
.archiveIcon{
    cursor: pointer;
}
