.message-header {
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: left;
    width: auto;

}
.message-header span{
   margin-right:10px;
   justify-content: center;
   align-items: center;
   align-content: center;
}
.symbol-header {
    color: black;
    padding: 5px 0 5px 10px;
}
.message-wrapper {
    /*fais moi un border noir épais*/
    border: 3px solid black;
    
    /* arrondi moi le border en bas à gauche et à droite */
    border-radius: 20px 20px 20px 20px;
    background-color: var(--white);
}

.message-body {
    padding: 5px 10px 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: auto;
}

audio {
    margin-top: 5px;
    width: 85%;
    height: 30px;
    margin: 10px 0 10px 0;
    border:#616061 1px solid;
    border-radius: 10px;
}
.message-date {
    color: #616061;
}

.message-like-symbol {
    color: #B2171B;
}
.message-content {
    min-width: 100px;
    width: auto;
    height: fit-content;
    display: flex;
    padding: 5px 5px 0px 0px;
}
.message-text {
    word-wrap: break-word;
    width: 80%;
}
.message-actions {
    min-width: 35px;
    max-width: 40px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;

}

.message-actions div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    
}
.message-like-symbol {
    font-size: 15px;
    padding-left: 3px;
}
.aired-status {
    /* fait une border arrondi en blanc */
    border: 2px solid white;
    /* arrondi que les coins sur les côtés */
    border-radius: 20px 20px 20px 20px;
    padding: 5px 10px 5px 10px;
    color: var(--white);
}
