.program-wrapper {
    background-color: var(--white);
    border-radius: 25px;
    padding: 15px;
    margin: 5px; /* Ajoutez des marges entre les éléments si nécessaire */
    /* Autres styles personnalisés pour les éléments */
    height: 100%;  
}

.program-img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}
.program-bottom {
  display: flex;
  justify-content: space-between;
  margin: 5% 0 1% 0;
}
.program-header {
  display: flex;
  justify-content: space-between;
}

.program-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 30px;

}

.program-desc {
   flex-shrink: 0;
   padding-top: 8%;
}
