.admin-chat-button {
    padding: 15px 13px 5px 13px;
    background-color: var(--light-gray);
    border-radius: 100px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 101;
}
.admin-chat-button:hover, .admin-chat-button-close:hover {
    cursor: pointer;
    scale: 1.05;
}
.admin-chat-button span{
    font-size: 2em;
    color: var(--primary-color);
}
.admin-chat-button-close {
    width: 15px;
    height: 15px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 640px;
    right: 45px;
    z-index: 101;
}
.admin-chat-button-close span{
    font-size: 2em;
    color: var(--light-gray);
}
[data-button-closed="true"] {
    display: none;
}
[data-button-closed="false"] {
    display: flex;
}
.admin-chat-wrapper {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: var(--black);
    border: solid 1px var(--light-gray);
    border-radius: 20px;
    z-index: 100;
}
[data-closed="true"] {
    width: 0;
    height: 0;
    overflow: hidden;  
}
[data-closed="false"] {
    width: 400px;
    height: 600px;
    padding: 30px 10px 30px 10px;
}
.admin-chat-wrapper .admin-chat-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.admin-chat-wrapper .admin-messages-container {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 20px;
    padding-bottom: 20px;
}
.admin-chat-wrapper .admin-messages-container span {
    width: 100%;
}
.admin-chat-wrapper .admin-message {
    width: 70%;
    background-color: var(--white);
    border-radius: 10px;
    padding: 5px 15px;
}
.admin-chat-wrapper .admin-messages-container .from-me {
    margin-left: 29%;
}
.admin-chat-wrapper .admin-message-user {
    font-weight: bold;
    color: var(--dark-gray);
}
.admin-chat-wrapper .admin-message-input-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: solid 1px var(--light-gray);
}
.admin-chat-wrapper .admin-message-input-container input {
    width: calc(100% - 50px);
    height: 30px;
    background-color: var(--light-black);
    color: var(--white);
}
.admin-chat-wrapper .admin-message-input-container .button-container {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.admin-chat-wrapper .admin-message-input-container .button-container button {
    width: 90%;
    height: 90%;
    background-color: var(--light-black);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.admin-chat-wrapper .admin-message-input-container button span {
    font-size: 25px;
    color: var(--primary-color);
}
.notifications-container {
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
    position: fixed;
    bottom: 70px;
    right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    z-index: 102;
}
.notifications-container p {
    color: var(--white);
    font-weight: bold;
}
.admin-message-time {
    width: 100%;
}
.admin-message-time p {
    font-size: 0.8em;
    color: var(--dark-gray);
    text-align: right;
}