/* ################################################# ===== CONTAINER */
.chat-container {
    background-color: var(--black);
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chat-transmission {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* ################################################# ===== MESSAGE CONTAINER */
.message-container {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    overflow: scroll;
    border-bottom: solid 1px var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
}
.message-container h1 {
    color: var(--white);
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
}
.filter-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 1rem;
}
.filter-buttons-container button {
    color: var(--white);
    background-color: var(--light-black);
    padding: 5px 40px;
    border-radius: 20px;
}
.filter-buttons-container .current {
    background-color: var(--primary-color);
}
/* ################################################# ===== MESSAGE ITEM */
.message-item {
    width: 80%;
    padding: 1rem;
    background-color: var(--light-gray);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.message-item h2 {
    font-size: 1.1em;
    font-weight: bold;
}
.text-message {
    color: var(--primary-color);
}
.transcription-message {
    color: var(--secondary-color);
}
.message-item p {
    color: var(--black);
}
.message-item .left {
    width: 70%;
    padding-right: 1rem;
}
.message-item .right p {
    text-align: right;
    width: 100%;
}
.message-item .right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.message-item button {
    text-align: right;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 1rem;
}
.message-item span {
    color: var(--gray);
    font-size: 1em;
    font-weight: bold;
}
.message-item .liked span {
    color: var(--primary-color);
    font-size: 1em;
    font-weight: bold;
}
/* ################################################# ===== INPUT MESSAGE */
.input-message-container {
    padding: 1rem 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--black);
}
.input-message-container input {
    width: calc(100% - 100px);
    height: 40px;
    margin-right: 10px;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding-left: 30px;
    border: none;
    outline: none;
    color: var(--light-gray);
}
.input-message-container input::placeholder {
    color: var(--white);
}
.input-message-container input:focus,
.input-message-container input:active,
.input-message-container input:focus-visible {
    outline: none;
    border: none;
}
input[type="text"] {
    outline: none;
    border: none;
}
.input-message-button {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.transmission-link {
    padding: 20px 60px;
    width: max-content;
    background-color: var(--primary-color);
    border-radius: 15px;
    margin: auto;
}
.transmission-link a {
    color: var(--white);
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.transmission-link:hover {
    scale: 1.05;
}
.transmission-link a span {
    color: var(--white);
    margin-left: 10px;
}
.input-message-button button {
    width: 90%;
    height: 90%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.input-message-button button span {
    font-size: 25px;
    color: var(--white);
}
/* #call {
    margin-left: 10px;
} */
[data-display="false"] {
    display: none;
}
[data-display="true"] {
    display: block;
}
.audio-recorder {
    width: calc(100% - 100px);
    height: 40px;
    background-color: var(--light-black);
    margin-right: 10px;
}
.recording-infos-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}
.audio-recorder p {
    color: var(--white);
}
.transmission-player {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}
.transmission-player span {
    color: var(--white);
    font-size: 5em;
}
.transmission-player audio {
    display: none;
}
.player-displayer {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    padding: 5px 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light-black);
    border: solid 1px var(--secondary-color);
    position: fixed;
    bottom: 100px;
    right: 100px;
}
[data-display-player="false"] {
    display: none;
}

@keyframes bars {
    0% {
        height: 10%;
    }
    100% {
        height: 60%;
    }
}
.bar {
    display: block;
    height: 60%;
    width: 6px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}
#bar_1,
#bar_3 {
    animation: bars 1s infinite alternate;
}
#bar_2 {
    animation: bars 1s infinite alternate;
    animation-delay: 0.2s;
}
.player-container {
    width: 600px;
    padding: 10px;
    background: rgb(253, 199, 4);
    background: linear-gradient(
        90deg,
        rgba(253, 199, 4, 1) 0%,
        rgba(36, 36, 36, 1) 20%
    );
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    bottom: 100px;
    right: 100px;
    gap: 25px;
}
[data-player-container="false"] {
    display: none;
}
.player-container img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}
.player-container input {
    width: calc(70% - 100px);
}
.close-player-button {
    position: relative;
    top: -35px;
    left: 570px;
    border: none;
    color: var(--white);
    font-size: 1em;
    width: 12px;
    height: 12px;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.close-player-button span {
    border: none;
    color: var(--primary-color);
    font-size: 2em;
}
.controlls {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.controlls span {
    color: var(--white);
    font-size: 1.9em;
}

@media screen and (max-width: 768px) {
    /* ################################################# ===== CONTAINER */
    .chat-wrapper {
        padding: 1rem;
    }
    .chat-container {
        padding: 0.5rem;
    }
    /* ################################################# ===== MESSAGE CONTAINER */
    .message-container {
        padding: 1rem;
    }
    /* ################################################# ===== MESSAGE ITEM */
    .message-item {
        width: 100%;
    }
    /* ################################################# ===== INPUT MESSAGE */
    .input-message-container {
        padding: 1rem;
    }
    .transmission-player {
        width: 100%;
    }
    .player-displayer,
    .player-container {
        right: 1rem;
    }
    .player-container {
        width: calc(100% - 2rem);
    }
    .close-player-button {
        left: calc(100% - 1rem);
    }
}
