.contactform-container {
    display: flex;
    flex-direction: column;

    margin: 0px auto 100px auto;
    width: 50%;
    margin-top: 1%;
}

.contactform-container .form-title {
    padding-bottom: 5%;
}



#form-contact {
    display: flex;
    flex-direction: column;   
}

#form-contact label {
    padding-bottom: 2%;
    font-weight: bold;
}


.contactform-container h1 {
    color: var(--white);
}

.contactform-container p {
    color: var(--white);
}

.contactform-container label {
    color: var(--white);
}

.contactform-container input, textarea {
    border-radius: 9px;
    border: none;
    padding: 5px;
    height: 34px;
}


.submit-btn {
    position: relative;
    top: 100px;
    background-color: var(--primary-color);
    height: 50px;
    color: var(--white);
    border-radius: 10px;
    top: 100px;
    font-weight: bold;
    margin-bottom: 25px;
}

.form-required {
    color: var(--primary-color);
    font-weight: bold;
}

.form-desc {
    margin-bottom: 2%;
}

#nom, #avis, #email {
    margin-bottom: 3%;
}

@media screen and (max-width: 768px) {
    .contactform-container {
        width: 90%;
    }

    .form-desc {
        font-size: 12px;
        padding-bottom: 5%;
        
    }
}