* {
    color: var(--black);
}
html, body {
    background-color: var(--black);
}
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus, [type="search"]:focus,
[type="tel"]:focus, [type="time"]:focus,
[type="week"]:focus, [multiple]:focus,
textarea:focus,
select:focus {
    --tw-ring-color: var(--transparent);
}
.header-logo {
    width: 100%;
    height: 120px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}
.header-logo img {
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 768px) {
    .header-logo {
        height: 100px;
    }
}
.bg-black {
    background-color: var(--black);
}
.border-primary-400 {
    border-color: var(--primary-color);
}
.border-primary-400:focus {
    border-color: var(--primary-color);
}
.mobile-menu-container .border-primary-400 {
    border-color: var(--transparent);
}
.mobile-menu-container .border-primary-400:focus {
    border-color: var(--transparent);
}
.mobile-menu-container .text-white:hover, .mobile-menu-container .text-white:focus {
    border-color: var(--transparent);
}
.text-primary, .text-primary span {
    color: var(--primary-color);
}
.text-white, .text-white span {
    color: var(--white);
}
.user-name {
    color: var(--gray);
}
.text-white:hover {
    color: var(--white);
    border-color: var(--white);
}
.text-white-change, .text-white-change span {
    color: var(--white);
}
.text-white-change:hover {
    color: var(--black);
    border-color: var(--white);
}
.hamb-button svg {
    stroke: var(--white);
}
.hamb-button:hover svg {
    stroke: var(--primary-color);
}
.hamb-button:focus svg {
    stroke: var(--primary-color);
}

.chat-wrapper,
.transmissions-wrapper {
    width: 100%;;
    background-color: var(--black);
    padding: 3rem;
}
.mobile-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 2rem);
}
.adMenu {
    position: absolute;
    top: 0;
    left: 0;
}
.adMenu .link {
    padding: 10px 20px;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--white);
    color: var(--black);
    font-size: 1.3rem;
    font-weight: bold;
}
.adMenu .link:hover, .adMenu .sel {
    background-color: var(--black);
    color: var(--white);
}
.login-button {
    background-color: var(--primary-color);
}
.light-text {
    color: var(--white);
}
@media screen and (max-width: 768px) {
    /* ################################################# ===== CONTAINER */
    .chat-wrapper,
    .transmissions-wrapper {
        padding: 1rem;
    }
}

/* Séléction des émissions */
.program-selection {
    background-color: var(--light-gray);
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    border-bottom: solid 10px var(--black);
}

.program-item {
    background-color: var(--black);
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;
}

.program-cover {
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

.program-date-text {
    color: var(--white);
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
    text-transform: capitalize;
}

.program-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding-top: 10px;
}

.program-info .program-title {
    color: var(--white);
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0px;
    white-space: normal;
}

.program-info .program-interactions span {
    color: var(--white);
    font-size: 0.8rem;
    font-weight: bold;
    padding-right: 10px;
}


