.live-wrapper {
    padding-top: 30px;
}

.live-title {
    font-size: 35px;
    font-weight: bold;

}
.live-subtitle {
    font-size: 25px;
    font-weight: bold;
}
.live-date {
    font-size: 17px;
}
.golive-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
      margin: auto;
  width: 50%;
}
.golive-header {
    background-color: var(--dark-gray);
    border-radius: 40px 40px 0 0;
    height: 60px;
}
.golive-button {
    width: 320px;
    height: 90px;
    border: 1px solid var(--black);
    border-radius: 50px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
}
.golive-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
}
.golive-rec-symbol {
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 100%;
    margin-right: 10px;
}
.golive-symbol {
    padding: 20px 0px 20px 40px;
}
.golive-body {
    border-radius: 0 0 40px 40px;
    background-color: var(--light-gray);
}