.container {
    display: flex;
    justify-content: center;
    height: 95%;
    width: 60vw;
    align-items: center;
    background-color: var(--light-gray);
    border-radius: 20px;
}

#formulaire-emission {
    width: 100%;
}

.add-emission {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    transition: all 0.3s ease;
    background-color: var(--primary-color);
    border-radius: 72px;
    box-shadow: 0 4px 16px 0 var(--black);
    cursor: pointer;
    height: 80px;
    width: 144px;
}

.add-emission.open {
    background-color: var(--white);
    padding: 18px 32px;
    border-radius: 5px;
    width: 820px;
    height: 830px;
    cursor: default;
}

.add-emission form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.1s ease;
}

.add-emission.open form {
    opacity: 1;
    transition-delay: 0.3s;
    height: auto;
}

.button-copy {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.button-text {
    color: var(--white);
    line-height: 100px;
}

.cancel {
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.cancel span:hover {
    text-decoration: underline;
}

.submit-button {
    background-color: var(--primary-color);
    height: 40px;
    width: 130px;
    border-radius: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--white);
    border: none;
    font-weight: 800;
    font-size: 17px;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.form--actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.form--field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;
}

.form--actions {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
}

.form--element {
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: 3px;
    font-size: 14px;
    line-height: 28px;
    padding: 0 4px;
    color: var(--dark-gray);
    width: 100%;
    margin: 4px 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.form--element:focus {
    border: 1px solid var(--primary-color);
    border-radius: 2px;
}

.form--element:not(.textarea) {
    height: 30px;
}

.form--element.textarea {
    height: 100px;
    resize: none;
}

.form--title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--black);

}

.form--label {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
    text-align: left;
}


#conteneurformulaire {
    color: var(--black);
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 20px;
}