.programs-wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 30px;
    margin: 5%;
    width: 90%;
}
  
#dropdown-filter label, #dropdown-filter span {
    color: var(--white);
}
  
.row-program {
    height: 310px;
}

#programs-title {
    font-size: 35px;
    font-weight: bold;
    color: var(--white);
}
.programs-header {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 0 5%;
    padding-top: 10px;
}


